body{
  height: 750px;
  width: 1400px;
  background-color: white;
  padding-left: 200px;
}


#game-screen{
  width: 750px;
  height: 1200px;
  border: 2px solid black;
  //margin: 0 auto;
  margin-left: 100px;
  overflow: hidden;
  transform: rotate(90deg);
}

#ground{
  width: 1000px;
  height: 30200px;
  margin-top: -29000px;
  background-image: url("../images/textures/ground1.jpg");
  background-size: contain;
}
.info{
  float: right;
  width: 200px;
  margin-top: -750px;
}
.move-down{
  margin-top: 0 !important;
}
.speed-on{
  transition: margin-top 90s linear;
}

.jet{
  position: absolute;
}

.jet-top{
  position: absolute;
  height: 90px;
  width: 60px;
  background-size: cover;
}
.jet-side{
  position: absolute;
  height: 90px;
  width: 15px;
  background-size: cover;
}
.smoke-trail{
  position: absolute;
  height: 100px;
  width: 100px;
  background-size: cover;
}
#player{
  height: 90px;
  width: 60px;
  margin-top: 1090px;
  margin-left: 300px;
  transition: margin-left .8s ease-in-out, transform .4s ease-out, margin-top 1s linear;
  transform-origin: 0% 100%;
  background-size: 100% 100%;

  #player-top{
    transition: transform .8s ease-in-out;
    background-image: url("../images/jet1top.png");
  }
  #player-side{
    margin-left: 23px;
    transition: transform .8s ease-in-out;
    background-image: url("../images/jet1side.png");
    transform:rotateY(90deg);
  }
  #player-smoke-3{
     margin-top: 80px;
     margin-left: -20px;
     background-image: url("../images/smoke.gif");
     transform: rotate(180deg);
  }
  #player-smoke-1{
     margin-top: 65px;
     margin-left: -40px;
     background-image: url("../images/smoke.gif");
     transform: rotate(180deg);
  }
  #player-smoke-2{
     margin-top: 65px;
     background-image: url("../images/smoke.gif");
     transform: rotate(180deg);
  }
}
.explode{
  transition: margin-top 1s linear !important;
  margin-top: 750px !important;
  height: 200px !important;
  width: 200px !important;
  background-image: url("../images/explosions/player4.gif");
}
.missile{
  position: absolute;
  height: 65px;
  width: 15px;
  margin-top: 1080px;
  background-image: url("../images/missile.gif");
  background-size: cover;
  transition: margin-top 2s ease-in, margin-left 2s ease-in;
}
#player-info{
  position: absolute;
  transform: rotate(-90deg);
  margin-top: 100px;
}
